@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@vitskyds/enroll-ui/styles";

@custom-variant dark (&:is(.dark *));

html, body, #root {
  height: 100%;
  margin: 0;
}

html:lang(he) body,
html:lang(he) .font-sans,
html:lang(he) .font-heading {
  font-family: 'Heebo', sans-serif;
}
